<%= form_with model:@genre,url: admins_genres_path, local: true do |f| %>
	<div class="genre_form">
		<%= f.label :ジャンル %>
		<%= f.text_field :name, class: "genre_form" %>
		<%= f.radio_button :validity, :true %>
		<%= f.label :validity, "有効", {value: :true, style: "display: inline-block;"} %>
  		<%= f.radio_button :validity, :false %>
  		<%= f.label :validity, "無効", {value: :false, style: "display: inline-block;"} %>
	</div>
	<%= f.submit '追加', class: "btn btn-primary" %>
<% end %>