<div class="customer show container">
<div class="row">
  <h3>会員詳細画面</h3>
  <%= render partial: 'layouts/flash', flash: flash %>
  <table class='table'>
    <table border="0" width="500" >
    <thead>
      <tr height="50">
      	<th>顧客ID</th>
      	  <td>
      	    <%= @customer.id %>
      	    <%if @customer.is_active? == true %>
      	      <span class="btn btn-info btn-xs">有効会員</span>
      	    <% else %>
      	      <span class="btn btn-default btn-xs">退会済</span>
      	    <% end %>
      	  </td>
      </tr>
      <tr height="30">
      	<th>氏名</th>
      	  <td><%= @customer.family_name %> <%= @customer.first_name %></td>
      </tr>
      <tr height="30">
        <th>フリガナ</th>
          <td><%= @customer.family_name_kana %> <%= @customer.first_name_kana %></td>
      </tr>
      <tr height="30">
      	<th>郵便番号</th>
      	  <td><%= @customer.post_code %></td>
      </tr>
      <tr height="30">
      	<th>住所</th>
      	  <td><%= @customer.address %></td>
      </tr>
      <tr height="30">
        <th>電話番号</th>
          <td><%= @customer.tel %></td>
      </tr>
      <tr height="30">
      	<th>メールアドレス</th>
      	  <td><%= @customer.email %></td>
      </tr>
    </thead>
    </table>
  </table>
  
  <h4>
    <%= link_to edit_admins_customer_path(@customer) do %>
      <span class="btn btn-primary">編集する</span>
    <% end %>
    <!-- 会員の注文一覧へ遷移 -->
    <%= link_to admins_orders_path(from: 3, id: @customer.id) do %>
     <span class="btn btn-primary">注文履歴一覧を見る</span>
    <% end %>
  </h4>

</div>
</div>