<div class="row">
<h1>注文情報確認</h1>

<%= form_with(model: @order, local: true) do |form| %>
<div class="col col-xs-8">
<table class="table order confirm">
  <table border="1" width="550" height="100">
	<thead>
		<tr>
			<th>商品名</th>
			<th>単価（税込）</th>
			<th>数量</th>
			<th>小計</th>
		</tr>
	</thead>
	<tbody>
		<% sum = 0 %>
		<% @cart_items.each do |cart_item| %>
		<tr>
			<td><%= attachment_image_tag(cart_item.product, :image, :fill, 60, 60, fallback: "no_image.jpg") %>
				<%= cart_item.product.name %>
			</td>
			<td>
				<% price_plus_tax = cart_item.product.price * 1.08 %>
				<%= price_plus_tax.to_i %>
			</td>
			<td><%= cart_item.quantity %></td>
			<td>
				<% sub_total = price_plus_tax * cart_item.quantity.to_i %>
				<%= sub_total.to_i %>
			</td>
		</tr>
		<% sum += sub_total %>
		<% end %>
	</tbody>
  </table>
</table>
</div>

<div class="col col-xs-4">
  <table border="1">
<table>
	<tbody>
		<tr>
			<td>送料</td>
			<td><%= @order.deliver_fee %>円</td>
		</tr>
		<tr>
			<td>商品合計</td>
			<td><%= sum.to_i %>円</td>
		</tr>
		<tr>
			<td>請求金額</td>
			<td>
				<% billling_amount = sum + @order.deliver_fee.to_i %>
				<%= billling_amount.to_i %>円
			</td>
		</tr>
	</tbody>
</table>
</div>
</div>

<div class="row">

	<h2>支払方法</h2>
	<%= render 'orders/how_to_pay', order: @order %>
	<%= @order.how_to_pay %>
	<h2>お届け先</h2>
	<%= @order.post_code %>
	<%= @order.send_to_address %>
	<%= @order.addressee %>

	<%= form.hidden_field :customer_id, :value => current_customer.id %>
	<%= form.hidden_field :post_code, :value => "#{@order.post_code}" %>
	<%= form.hidden_field :send_to_address, :value => "#{@order.send_to_address}" %>
	<%= form.hidden_field :addressee, :value => "#{@order.addressee}" %>

<br>
<%= form.submit "購入を確定する" %>
<% end %>
</div>