<h1>「<%= @content %>」の検索結果です！</h1>

<table>
	<% if @model == 'customer' %>
	<thead>
		<tr>
			<th>会員ID</th>
			<th>氏名</th>
			<th>メールアドレス</th>
			<th>ステータス</th>
		</tr>
	</thead>
	<tbody>
		<% @datas.each do |data| %>
		<tr>
			<td><%= data.id %></td>
			<td><%= data.family_name + data.first_name %></td>
			<td><%= data.email %></td>
			<td><%= data.is_active %></td>
		</tr>
		<% end %>
	</tbody>
	<% elsif @model == 'product' %>
	<thead>
		<tr>
			<th>商品ID</th>
			<th>商品名</th>
			<th>税抜価格</th>
			<th>ジャンル</th>
			<th>ステータス</th>
		</tr>
	</thead>
	<tbody>
		<% @datas.each do |data| %>
		<tr>
			<td><%= data.id %></td>
			<td><%= link_to data.name, admins_product_path(data.id) %></td>
			<td><%= data.price %></td>
			<td><%= data.genre_id %></td>
			<td><%= data.status %></td>
		</tr>
		<% end %>
	</tbody>
	<% end %>
</table>