<div class="container">
<div class="row">
	<%= render partial: 'layouts/flash', flash: flash %>
	<div class="col-xs-2">
		<%= render 'genres/index', genres: @genres %>
	</div>
	<div class="col-xs-10">
		<div class ="top row">
			<div class= "top_image col-xs-6">
			 <%= image_tag 'logo.jpeg', :size =>'400x250' %>
			</div>
			<% unless customer_signed_in? %>
			<div class="popup" id="js-popup">
			  <div class="popup-inner">
    			<div class="close-btn" id="js-close-btn">
    				<i class="fas fa-times"></i>
    			</div>
				<h2 class ="popup_suggest col-xs-12">
					今月の新商品
				</h2>
				<div class = "osusume row">
				<%= render 'products/index', product: @product1 %>
				<%= render 'products/index', product: @product2 %>
				</div>
				<h4 class ="welocme_message col-xs-12">
					ようこそ、Naganocakeへ！
					<br>このサイトは、ケーキ販売のECサイトです。
					<br>会員でない方も商品の閲覧はできますが、
					<br>購入には会員登録が必要です。
				</h4>
				<div class =" pupup_button">
				<%= link_to ' 新規登録', new_customer_registration_path, class: 'btn btn-success col-xs-5' %>
				<div class = "col-xs-2"></div>
 				<%= link_to ' ログイン', new_customer_session_path, class: 'btn btn-primary col-xs-5' %>
 			   </div>

 			   </div>

  			<div class="black-background" id="js-black-bg"></div>
			</div>
			<% end %>
			<h3 class ="welocme_message col-xs-6">
					ようこそ、Naganocakeへ！
					<br>このサイトは、ケーキ販売のECサイトです。
					<br>会員でない方も商品の閲覧はできますが、
					<br>購入には会員登録が必要です。
			</h3>
		</div>
		<div class ="top_products row">
		<h2>オススメ商品</h2>
		<% @products.each do |product| %>
		<%= render 'products/index', product: product %>
		<% end %>
		</div>
		<div class ="row">
			<%= link_to "もっと見る=>", products_path %>
		</div>
	</div>
</div>
	<div class= "top row">
		<div class=" map col-xs-2"></div>
		<div class=" map col-xs-10">
			<h2></h2>
				<div id='map'></div>
				<style>
				#map{
				  height: 600px;
				  width: 95%;
				  margin:auto;
				}
				</style>

				<script>
				function initMap(){
				  let map = new google.maps.Map(document.getElementById('map'), {
				  center: {lat: -34.397, lng: 150.644},
				  zoom: 8
				  });
				}
				</script>
				<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWjBg_Gp9Q7fMqp5bAYW7G_H3WmOt-ukg&callback=initMap" async defer></script>
		</div>
	</div>
</div>
