<% unless customer_signed_in? %>
		<%= render 'homes/popups' %>
<% end %>
<div class="container">
<div class="row">
	<%= render partial: 'layouts/flash', flash: flash %>
	<div class="col-xs-2">
		<%= render 'genres/index', genres: @genres %>
	</div>
	<div class="col-xs-10">
		<div class ="top row">
			<div class= "top_image col-xs-6">
			 <%= image_tag 'logo.jpeg', :size =>'400x250' %>
			</div>
			<h3 class ="welocme_message col-xs-6">
					ようこそ、Naganocakeへ！
					<br>このサイトは、ケーキ販売のECサイトです。
					<br>会員でない方も商品の閲覧はできますが、
					<br>購入には会員登録が必要です。
			</h3>
		</div>
		<div class ="top_products row">
		<h2>オススメ商品</h2>
		<% @products.each do |product| %>
		<%= render 'products/index', product: product %>
		<% end %>
		</div>
		<div class ="row">
			<%= link_to "もっと見る=>", products_path %>
		</div>
	</div>
</div>
	<div class= "top row">
		<%= render 'homes/maps' %>
		</div>
	</div>
</div>
