<div class="container">
<div class="row">
	<div class="col-xs-2">
		<%= render 'genres/index', genres: @genres %>
	</div>
	<div class="col-xs-10">
		<div class ="top-container">
		<%= image_tag 'img_top.jpeg' %>
			<div class ="welocme_message">
			ようこそ、Naganocakeへ！
			<br>このサイトは、ケーキ販売のECサイトになります。
			<br>会員でない方も商品の閲覧はできますが、
			<br>購入には会員登録が必要になります。
		</div>
	</div>

		<h2>オススメ商品</h2>
		<% @products.each do |product| %>
		<div class="col-xs-3 product_box">
			<br>
			<%= link_to (product) do %>
			<%= attachment_image_tag(product, :image, :fill, 250, 200, fallback: "no_image.jpg") %>
			<br>
			<%= product.name %>
			<% end %>
			<br>
			<%= render 'products/price', product: product %>
		</div>
		<% end %>
	</div>
</div>
</div>

