<div class="container">
<div class="row">
	<div class="col-xs-2">
	</div>

	<div class="col-xs-9">
		<h2>ショッピングカート</h2>
		<%= button_to "カートを空にする",cart_items_path, method: :delete, class: "btn btn-danger" %>
		<table class='table'>
			<thead>
				<tr>
					<th>商品名</th>
					<th>単価</th>
					<th>数量</th>
					<th>小計</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% @cart_items.each do |cart_item| %>
<!--  				<th><%#= @customer.cart_item.product.name %></th>
					<th><%#= @customer.cart_item.product.price %></th>
					<th><%#= @customer.cart_item.quanitity %></th>
 -->
 					<tr>
 						<th><%= cart_item.name %></th>
						<th><%= cart_item.price %></th>
						<th><%= form_with model:CartItem do |f| %>
						<%= f.number_field :quantity, min:1, max:99  %>
						<%= f.submit "更新する" ,method: :update,class: "btn btn-primary"%>
						<% end %>
						</th>
						<th><%= cart_item.price*2 %></th>
						<th>
							<button class= "btn btn-danger" >削除する</button>
						</th>
					</tr>
				<% end %>
			</tbody>
    	</table>
    	<div class="row">
			<table class='table'>
				<tr>
					<th>合計金額</th>
					<th><%#= money @price %>円</th>
				</tr>
			</table>
		</div>
	</div>
</div>

