<div class="index-container">
  <% flash.each do |name, msg| %>
    <div class="alert alert-<%= name %>">
      <a class="close" data-dismiss="alert">×</a>
      <%= msg %>
    </div>
  <% end %>
  <h3>配送先登録/一覧</h3>
	<%= form_for (@address) do |f| %>
    <table border="0" width="700" height="100" >
  	  <div class="form-group">
        <tr>
          <th width="40%">郵便番号(ハイフンなし)</th>
  		    <td>
  		      <%= f.text_field :post_code %>
          </td>
        </tr>
  	  </div>
	    <div class="form-group">
        <tr>
          <th>住所</th>
          <td>
		        <%= f.text_field :address, size:60 %>
          </td>
        </tr>
	    </div>
	    <div class="form-group">
        <tr>
          <th>宛名</th>
          <td>
		        <%= f.text_field :addressee %>
          </td>
          <td>
            <%= f.submit "登録する", class:"btn btn-success" %>
          </td>
        </tr>
	    </div>
  </table>
<% end %>

  <table class="table address">
  <table border="1" width="700" height="100">
    <thead>
      <tr>
      	<th width="10%" bgcolor="#EEEEEE"> 郵便番号 </th>
      	<th width="45%" bgcolor="#EEEEEE"> 住所 </th>
      	<th width="20%" bgcolor="#EEEEEE"> 宛名 </th>
        <th width="25%" bgcolor="#EEEEEE">  </th>
      </tr>
    </thead>
  <% @addresses.each do |address| %>
    <tbody>
      <tr>
      	<td><%= address.post_code %></td>
      	<td><%= address.address %></td>
      	<td><%= address.addressee %></td>
      	<td>
          <div class="btn">
      		  <%= link_to "編集する", edit_address_path(address), class:"btn btn-primary" %>
      		  <%= link_to "削除する", address_path(address), class:"btn btn-danger", method: :delete %>
          </div>
      	</td>
      </tr>
    </tbody>
  <% end %>
  </table>
  </table>
</div>

