<div class="row">
<h1>注文情報確認</h1>
<div class="col col-xs-8">
<table>
	<thead>
		<tr>
			<th>商品名</th>
			<th>単価（税込）</th>
			<th>数量</th>
			<th>小計</th>
		</tr>
	</thead>
	<tbody>
		<!-- sum=0をeach内部に入れるとバグる -->
		<% sum = 0 %>
		<%= form_for @order, url:{controller: 'orders', action: 'create'} do |f| %>
		<% @cart_items.each do |cart_item| %>

		<!-- hidden入力フォーム内部でcart_item繰り返し表記がある -->
		<%# fields_for :order_items do |i| %>
		 <!-- hidden_fieldでユーザーIDとオーダーID -->	
		 <%= f.hidden_field :customer_id, value: current_customer.id  %>
		 <%= f.hidden_field :order_price, value: cart_item.product.price  %>
		 <%= f.hidden_field :quantity, value: cart_item.quantity  %>

 				<tr>
 					<th><%= cart_item.product.name %></th>
					<th><%= cart_item.product.price %>円</th>
						<th><%= cart_item.quantity %></th>
						<th><%= sub_total = cart_item.product.price * cart_item.quantity %>円</th>
					<% sum = sum + sub_total %>
					</th>
				</tr>
		<% end %>
	</tbody>
</table>
</div>

<div class="col col-xs-4">
<table>
	<thead>
		<tr>
			<th>送料</th>
			<th>商品合計</th>
			<th>請求金額</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><%= fee = 800 %>
				<%#= order.deliver_fee %>円</td>
			<td><%= sum %>円</td>
			<td><%= sum = sum + fee %>円</td>
		</tr>
	</tbody>
</table>
</div>
</div>

<div class="row">
	<h2>支払方法</h2>
	<%#= @order.how_to_pay %>
	<h2>お届け先</h2>
	<%#= @order.send_to_address %>
</div>
<%= f.submit "購入を確定する", class: "btn btn-sm btn-success" %>
<% end %>