<div class="container index">
  <div class="row">
    <h3>商品一覧画面</h3>
    <div class="col-xs-12 " >
	  <div class="pull-right">
        <%= link_to '商品新規登録',new_admins_product_path,class: "btn btn-primary" %>
      </div>
    </div>
  <%= render partial: 'layouts/flash', flash: flash %>
    <div class = "col-xs-12">
	  <table class='table'>
		<thead>
			<tr bgcolor="#EEEEEE">
				<th >商品ID</th>
				<th>商品名</th>
				<th>税抜価格</th>
				<th>ジャンル</th>
				<th>ステータス</th>
			</tr>
		</thead>
		<tbody>
			<% @products.each do |product| %>
			<tr>
				<th><%= product.id %></th>
				<th><%= link_to product.name, admins_product_path(product) %></th>
				<th><%= product.price %></th>
				<th><%= product.genre.name %></th>
				<th><%= product.status %></th>
			</tr>
			<% end %>
		</tbody>
	  </table>
    </div>
  </div>
</div>