<div class="container">
		<h2>商品 詳細画面</h2>
<div class="row">
	<div class="col-xs-2">
		<%= render 'genres/index', genres: @genres %>
	</div>

	<div class="show_box col-xs-6">
		<%= attachment_image_tag(@product, :image, :fill, 560, 420, fallback: "no_image.jpg") %>
	</div>
  	<div class='col-xs-4'>
		<table class='table'>
			<tr>
				<h2><%= @product.name %></h2>
			</tr>
			<tr>
				<%= @product.introduction %>
			</tr>
			<tr>
				<th><%= render 'products/price', product: @product %></th>
			</tr>
    	</table>
    	<div class="row">
    		<%= render 'products/cartform', product: @product %>
		</div>
	</div>
</div>
</div>

