<div class="container">
		<h2>商品 詳細画面</h2>
<div class="row">
	<div class="col-xs-2">
		<%= render 'genres/index', genres: @genres %>
	</div>

	<div class="col-xs-3">
		<%= attachment_image_tag(@product, :image, :fill, 100, 100, fallback: "no_image.jpg") %>
	</div>
  	<div class='col-xs-4'>
		<table class='table'>
			<tr>
				<th>商品名</th>
				<th><%= @product.name %></th>
			</tr>
			<tr>
				<th>商品説明</th>
				<th><%= @product.introduction %></th>
			</tr>
			<tr>
				<th>商品ジャンル</th>
				<th><%= @product.genre.name %></th>
			</tr>
			<tr>
				<th><%= render 'products/price', product: @product %></th>
			</tr>
    	</table>
    	<div class="row">
    		<%= render 'products/cartform', product: @product %>
		</div>
	</div>
</div>
</div>

