<!-- プロダクト用ポップアップ -->
<%= render 'products/popup'%>

<div class="container">
<div class="row">
	<div class="col-xs-2">
		<%= render 'genres/index', genres: @genres %>
	</div>
	<div class="show_box col-xs-6">
		<%= attachment_image_tag(@product, :image, :fill, 560, 420, fallback: "no_image.jpg") %>
	</div>
  	<div class='col-xs-4'>
  		<div class="show_info">
		<h3>
			<span class="product_name">
				<%= @product.name %>
			</span>
		</h3>
		<h4>商品説明</h4>
			<div class="product_introduction">
				<%= @product.introduction %>
			</div>
		<h4>
			<%= render 'products/price', product: @product %>
		</h4>
    		<%= render 'products/cartform', product: @product %>
	</div>
</div>
</div>
</div>


