<header class="navbar navbar-fixed-top navbar-inverse navbar-nagano">
  <div class="row">
    <div class="col-xs-3">
    <nav class="nav navbar-nav navbar-left">
      <div class="header-logo">
        <%= link_to customer_top_path do %>
          <%= image_tag "logo5.jpg", alt: "NaganoCAKE", size: "360x100", id: "NaganoCAKE" %>
        <% end %>
      </div>
    </nav>
    </div>

    <div class="col-xs-4">
    <nav class="navbar-middle">
      <% if customer_signed_in? %>
        <h2 class="header-message">
        ようこそ<%= current_customer.family_name %><%= current_customer.first_name %>さん！
        </h2>
      <% elsif admin_signed_in? %>  <!--  検索窓 -->
          <%= render partial: 'admins/searches/search_form' %>
      <% end %>
    </nav>
  </div>
  <div class="col-xs-5">
    <nav>
      <ul class="nav navbar-nav navbar-right navbar-link">
        <%= render partial: 'layouts/links' %>
      </ul>
    </nav>
    </div>
  </div>
</header>
