<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="row">
    <nav class="nav navbar-nav navbar-left">
      <span class="header-logo">
        <%= link_to customer_top_path do %>
          <%= image_tag "logo4.jpg", alt: "NaganoCAKE", size: "300x78" %>
        <% end %>
      </span>
      <span><%= link_to 'About', customer_about_path %></span>
    </nav>
    <% if customer_signed_in? %>
    <nav class="nav navbar-nav navbar-left">
      <h3 class="header-message">
    ようこそ<%= current_customer.family_name %><%= current_customer.first_name %>さん！
    </h3>
    </nav>
    <nav>
      <ul class="nav navbar-nav navbar-right">
            <li><%= link_to ' マイページ', customer_path(current_customer.id), class: 'my_page' %></li>
            <li><%= link_to ' 商品一覧', products_path, class: 'products' %></li>
            <li><%= link_to ' カート', cart_items_path, class: 'cart_items' %></li>
            <li><%= link_to ' ログアウト', destroy_customer_session_path, method: :delete, class: 'logout' %></li>
          <% elsif admin_signed_in? %>
          管理者としてログインしています
          <span><%= link_to 'TOP', admins_top_path %></span>
            <li><%= link_to ' 商品一覧', admins_products_path, class: 'admins_products' %></li>
            <li><%= link_to ' 会員一覧', admins_customers_path, class: 'admins_customers' %></li>
            <!-- Ordersテーブルの全件表示 -->
            <li><%= link_to ' 注文履歴一覧', admins_orders_path(from: 1), class: 'admins_orders' %></li>
            <li><%= link_to ' ジャンル管理', admins_genres_path, class: 'admins_genres' %></li>
            <li><%= link_to ' ログアウト', destroy_admin_session_path, method: :delete, class: 'logout' %></li>
          <% else %>
            <li><%= link_to ' 商品一覧', products_path, class: 'products' %></li>
            <li><%= link_to ' 新規登録', new_customer_registration_path, class: 'admins_customers' %></li>
            <li><%= link_to ' ログイン', new_customer_session_path, class: 'admins_orders' %></li>
          <% end %>
          </ul>
    </nav>
  </div>
  <div class="row">
    <%= render partial: 'search/search_box' %>
  </div>
</header>
