<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="row">
    <nav class="nav navbar-nav navbar-left">
      <span class="header-logo">
        <%= link_to customer_top_path do %>
          <%= image_tag "logo4.jpg", alt: "NaganoCAKE", size: "300x78" %>
        <% end %>
      </span>
      <span><%= link_to 'About', customer_about_path %></span>
    </nav>
    <nav class="nav navbar-nav navbar-left">
      <h3 class="header-message">
    ようこそ<%= current_customer.family_name %><%= current_customer.first_name %>さん！
    </h3>
    </nav>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <%= render partial: 'layouts/links' %>
          </ul>
    </nav>
  </div>
  <% if admin_signed_in? %>
  <div class="row">
    <%= render partial: 'admins/search/search_box' %>
  </div>
  <% end %>
</header>
