<header class="navbar navbar-fixed-top navbar-inverse navbar-nagano">
  <div class="row">
    <nav class="nav navbar-nav navbar-left">
      <div class="header-logo">
        <%= link_to customer_top_path do %>
          <%= image_tag "logo5.jpg", alt: "NaganoCAKE", size: "360x100", id: "NaganoCAKE" %>
        <% end %>
      </div>
    </nav>
    <nav class="nav navbar-nav navbar-left">
      <div class="about">
        <%= link_to customer_about_path do %>
          <%= image_tag "about.jpg", alt: "NaganoCAKE", size: "200x100", id: "NaganoCAKE" %>
        <% end %>
    </nav>
    <nav class="nav navbar-nav navbar-middle">
       <% if customer_signed_in? %>
        <span class="header-message">
        ようこそ<%= current_customer.family_name %><%= current_customer.first_name %>さん！
        </span>
        <% end %>
          <!--  検索窓 -->
      <% if admin_signed_in? %>
        <div class="row admins_search">
          <%= render partial: 'admins/searches/search_form' %>
        </div>
      <% end %>
    </nav>

    <nav>
      <ul class="nav navbar-nav navbar-right">
        <%= render partial: 'layouts/links' %>
          </ul>
    </nav>
  </div>
</header>
