<!DOCTYPE html>
<html>
  <head>
    <title>Naganocake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- <P>を使って段落を変えた際に、２文字空ける -->
    <style type="text/css">
      p
      {
        text-indent: 2em;
      }
    </style>
  </head>

  <body>
<!-- header -->
<%= render 'layouts/header', customer: current_customer %>
<!-- 各ページのコンテンツはbody-containerの中に -->
<div class="body-container">
    <%= yield %>
</div>
<!-- footer -->
<%= render 'layouts/footer' %>
  </body>
</html>
